<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>


    <title>Lista adminów</title>


</head>
<body>


<!--  HEADER -->
<div th:insert="~{fragments/header :: header}"></div>
<!--HEADER ENDED-->

<div class="container align-items-center">
    <h1>Admin menu</h1>

    <a th:href="@{/admin/institutions-list}" class="btn btn-primary">Show Institutions List</a>
    <a th:href="@{/admin/add}" class="btn btn-primary">Add Institution</a>

    <a th:href="@{/admin/admin-list}" class="btn btn-primary">Show Admin List</a>
    <a th:href="@{/admin/add-admin}" class="btn btn-primary">Add New Admin</a>

</div>


<div class="container">
    <h1>Lista adminów</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Role</th>
            <th>Name | Surname</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" th:if="${user.userTypeId.userTypeId} == 2">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userTypeId.userTypeName}"></td>
            <td th:text="${user.name + ' ' + user.surname}"></td>
            <td th:text="${user.email}"></td>
            <td class="crud-buttons">
                <div class="row">
                    <div class="col-md-6">
                        <form th:action="@{/admin/delete-admin/confirm/{id}(id=${user.userId})}" method="get">
                            <button class="btn-sec btn-black w-100" type="submit">Delete Admin</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form th:action="@{/admin/edit-admin/{id}(id=${user.userId})}" method="get">
                            <button class="btn-sec btn-red w-100" type="submit">Edit Admin</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>



<!--FOOTER-->
<div th:insert="~{fragments/footer :: footer}"></div>
<!--FOOTER ENDED-->


</body>
</html>