<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>


    <title>Lista adminów</title>


</head>
<body>


<!--  HEADER -->
<div th:insert="~{fragments/header :: header}"></div>
<!--HEADER ENDED-->


<div class="container">
    <h1>Lista adminów</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin : ${admins}">
            <td th:text="${admin.userTypeId}"></td>
<!--            <td th:text="${admin.name} + ' ' + ${admin.surname}"></td>-->
<!--            <td th:text="${admin.email}"></td>-->
            <td class="crud-buttons">
                <div class="row">
                    <div class="col-md-6">
                        <form th:action="@{/admin/delete/confirm/{id}(id=${admin.userTypeId})}" method="get">
                            <button class="btn-sec btn-black w-100" type="submit">Delete Admin</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form th:action="@{/admin/edit/{id}(id=${admin.userTypeId})}" method="get">
                            <button class="btn-sec btn-red w-100" type="submit">Edit Admin</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!--FOOTER-->
<div th:insert="~{fragments/footer :: footer}"></div>
<!--FOOTER ENDED-->


</body>
</html>