<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
</head>
<body>


<!--  HEADER -->
<div th:insert="~{fragments/header :: header}"></div>
<!--HEADER ENDED-->

<div class="container align-items-center">
    <h1>ADMIN DASHBOARD</h1>

    <a th:href="@{/admin/institutions-list}" class="btn btn-primary">Show Institutions List</a>
    <a th:href="@{/admin/add}" class="btn btn-primary">Add Institution</a>

</div>

<!--FOOTER-->
<div th:insert="~{fragments/footer :: footer}"></div>
<!--FOOTER ENDED-->


</body>
</html>