<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Lista administratorów</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>


    <title>Lista administratorów</title>


</head>
<body>


<!--  HEADER -->
<div th:insert="~{fragments/header :: header}"></div>
<!--HEADER ENDED-->

<div class="container align-items-center">
    <h1>Menu ADMINISTRATORA</h1>
    <div class="ui-menu-divider">
        <h3>Zarządzanie Fundacjami:</h3>
        <a th:href="@{/admin/institutions-list}" class="btn btn-primary">Pokaż listę fundacji</a>
        <a th:href="@{/admin/add}" class="btn btn-primary">Dodaj fundacje</a>
    </div>
    <div class="ui-menu-divider">
        <h3>Zarządzanie Administratorami:</h3>
        <a th:href="@{/admin/admin-list}" class="btn btn-primary">Pokaż listę administratorów</a>
        <a th:href="@{/admin/add-admin}" class="btn btn-primary">Dodaj nowego administratora</a>
    </div>
    <div class="ui-menu-divider">
        <h3>Zarządzanie Użytkownikami:</h3>
        <a th:href="@{/admin/user-list}" class="btn btn-primary">Lista użytkowników</a>
        <a th:href="@{/admin/add-user}" class="btn btn-primary">Dodawanie użytkownika</a>
    </div>

</div>


<div class="container">
    <h1>Lista użytkowników</h1>
    <table class="table">
        <thead>
        <tr>
        <th>ID użytkownika</th>
        <th>Email</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Aktywny</th>
        <th>Data rejestracji</th>
        <th>ID roli użytkownika</th>
        <th>Rola</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.isActive}"></td>
        <td th:text="${user.registrationDate}"></td>

        <td th:text="${user.userTypeId}"></td>
        <td th:text="${user.userTypeName}"></td>
        <td class="crud-buttons">
            <div class="row">
                <div class="col-md-6">
                    <form th:action="@{/admin/delete-admin/confirm/{id}(id=${user.userId})}" method="get">
                        <button class="btn-sec btn-black w-100" type="submit">Usuń użytkownika</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form th:action="@{/admin/edit-admin/{id}(id=${user.userId})}" method="get">
                        <button class="btn-sec btn-red w-100" type="submit">Edytuj użytkownika</button>
                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
</div>


<!--FOOTER-->
<div th:insert="~{fragments/footer :: footer}"></div>
<!--FOOTER ENDED-->


</body>
</html>