<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Panel logowania</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
</head>
<body>


<!--  HEADER -->
<div th:insert="~{fragments/header :: header}"></div>
<!--HEADER ENDED-->


<section class="login-page">
    <h1>Panel logowania</h1>
    <h2>Zaloguj się</h2>
    <form th:action="@{/login}" th:object="${user}" method="post">
        <div class="form-group">
            <input  placeholder="Adres email"
                    name="username"
                    field="{email}"
                    type="email"
                    required/>
        </div>


        <div class="form-group">
            <input placeholder="Hasło"
                   name="password"
                   field="{password}"
                   type="password"
                   required/>

            <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
            <a href="#" th:href="@{/register}" class="btn btn--without-border">Załóż konto</a>
            <button class="btn" type="submit">Zaloguj się</button>
        </div>
    </form>
</section>


<!--FOOTER-->
<div th:insert="~{fragments/footer :: footer}"></div>
<!--FOOTER ENDED-->


</body>
</html>