<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Panel rejestracji</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
</head>
<body>


<!--  HEADER -->
<div th:insert="~{fragments/header :: header}"></div>
<!--HEADER ENDED-->


<section class="login-page">
    <h1>Panel rejestracji</h1>
    <h2>Załóż konto</h2>
    <form th:action="@{/register/new}"
          th:object="${user}"
          method="post">

        <div class="form-group">
            <input placeholder="Adres e-mail"
                   name="email"
                   th:field="*{email}"
                   type="email"
                   required/>
        </div>

        <div class="form-group">
            <input min="3"
                   placeholder="Haslo"
                   name="password"
                   th:field="*{password}"
                   type="password"
                   required/>
        </div>
        <div class="form-group">
            <input type="password" name="password2" placeholder="*password2*"/>
        </div>

        <!--//test-->
        <div class="form-group">
            <input minlength="3"
                   placeholder="Imię"
                   name="name"
                   th:field="*{name}"
                   type="text"
                   required/>
        </div>


        <div class="form-group">
            <input minlength="3"
                   placeholder="Nazwisko"
                   name="surname"
                   th:field="*{surname}"
                   type="text"
                   required/>
        </div>
        <!--        test ended here-->


        <div class="form-group">
            <select required th:field="*{userTypeId}">
                <th:block th:each="userType :${getAllTypes}">
                    <option th:text="${userType.userTypeName}" th:value="${userType.userTypeId}"></option>
                </th:block>
            </select>
        </div>


        <div class="form-group form-group--buttons">
            <a th:href="@{/login.html}" class="btn btn--without-border">Zaloguj się</a>
            <button type="submit" class="btn">Załóż konto</button>
        </div>
    </form>
</section>


<!--FOOTER-->
<div th:insert="~{fragments/footer :: footer}"></div>
<!--FOOTER ENDED-->


</body>
</html>